*,
div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}

.board-1 > div {
  display: flex;
  gap: 1px;
  padding: 1px;
}

.board-2 > div {
  display: flex;
  gap: 1px;
  padding: 1px;
}

.board-1 > div > div {
  width: 2.5rem;
  height: 2.5rem;
}
.board-2 > div > div {
  width: 2.5rem;
  height: 2.5rem;
}

.empty {
  border: 1px solid rgb(200, 200, 213);
}

.ship {
  border: 2px solid blue;
  background-color: #3b82f633;
}

.miss {
  border: 1px solid rgb(200, 200, 213);
  background-color: #fef08a;
}

.hit {
  border: 1px solid rgb(200, 200, 213);
  background-color: #f87171;
}

.game {
  display: flex;
  gap: 7rem;
  margin-top: 6rem;
  justify-content: center;
}

.empty:hover,
.ship:hover {
  background-color: #3b82f633;
}

.destroy {
  background-color: rebeccapurple;
}
